<section>
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12">
                <a href="/admin/all-institution" style="text-decoration: none;">
                    <div class="card">
                        <h6>All Institutions</h6>
                        <p>Here we can see all institutions joined in onOrg</p>
                    </div>
                </a>
                <a href="/admin/all-admins" style="text-decoration: none;">
                    <div class="card">
                        <h6>All Admins</h6>
                        <p>Here we can see all admins in onOrg</p>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>

<style>
    .main-container .card {
        background: #D3D3D3;
        color: #000;
        padding: 15px 0px 0px 15px;
        font-size: 14px;
        margin-bottom: 10px;

    }
</style>
