<footer class="pt-1 pb-1 text-center text-white">
   <small>
         <a href="/" class="text-white" style="text-decoration:none;">
         <span class="ml-1 mr-1">Home</span>
         </a>|
         <a href="admin/login" class="text-white" style="text-decoration:none;">
         <span class="ml-1 mr-1">Login</span>
         </a>|
         <a href="admin/signup" class="text-white" style="text-decoration:none;">
         <span class="ml-1 mr-1">SignUp</span>
         </a>|
         <a href="/about" class="text-white" style="text-decoration:none;">
         <span class="ml-1 mr-1">About Us</span>
         </a>|
         <a href="mailto:akhilkponnanivj45@gmail.com" class="text-white" style="text-decoration:none;">
         <span class="ml-1 mr-1">Contact Us</span>
         </a>
         <br>
         <span class="text-white mt-1"><span style="opacity:0.5;">&copy; 2022 Copyright:&nbsp;</span>All rights reserved</span>
   </small>
</footer>