<!--Sidebar for institution. Here we check the session exisist or not if there is no session then it will hide the sideBar and only display the head-->
<section>
   <!--wrapper start-->
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="sidebar-btn">
                    {{#if institutions}}
                    <i class="fas fa-bars"></i>               
                     {{else}} 
                         <i class="fas fa-university"></i>
                    {{/if}}
                     </div>
                <div class="title">on<span>Org</span></div>
                
                      <ul>
                        <!--  Here we chech institution exist or not if yes it will display plus otherwise home   -->
                           {{#if institutions}}
                                <li> <a href=""><i class="fas fa-plus"></i></a> </li>
                                 <!-- Text near Plus Button <b > <p style="color: antiquewhite;"></p></b>-->
                               
                        {{else}}                      
                                <li> <a href="/"><i class="fas fa-home"></i></a></li>
                         {{/if}}
                          
                         <!-- <li> <a href="#"><i class="fas fa-power-off"></i></a></li>  -->
                      </ul>
                
            </div>
        </div>
         <!--header menu end-->
         <!--sidebar start-->
         {{#if institutions}}
         <div class="sidebar">
             <div class="sidebar-menu">
                 <center class="profile">
                     <img src="institution-logo/college logo.jpeg" alt=" image will be loaded">
                     <p>MD College</p>
                 </center>
                 <ul>
                <li class="item">
                    <a href="#" class="menu-btn">
                         <i class="fas fa-home"></i><span>Home</span>
                    </a>

                </li>
                <li class="item" id="messages">
                    <a href="#messages" class="menu-btn">
                        <i class="fas fa-users"></i><span>Tutor & Student<i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        
                         <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Tutor</span></a>
                         <a href="#"><i class="fas fa-user-graduate"></i> <span>Student</span></a>
                        <!-- <a href="#"><i class="fas fa-exclamation-circle"></i> <span>Spam</span></a>-->
                    </div>
                </li>
                 <li class="item" id="profile">
                     <a href="#profile" class="menu-btn">
                         <i class="fas fa-share-alt"></i><span>Share <i class="fas fa-chevron-down drop-down"></i></span>
                     </a>
                     <div class="sub-menu">
                        <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Tutor</span></a>
                        <a href="#"><i class="fas fa-user-graduate"></i> <span>Student</span></a>
                     </div>
                 </li>
                 
                 <li class="item" id="settings">
                     <a href="#settings" class="menu-btn">
                         <i class="fas fa-cog"></i><span>settings  <i class="fas fa-chevron-down drop-down"></i></span>
                     </a>
                     <div class="sub-menu">
                        <a href="#"><i class="fas fa-user-circle"></i> <span>Profile</span></a>
                         <a href="#"><i class="fas fa-lock"></i> <span>Password</span></a>
                          
                     </div>
                 </li>
                 <li class="item">
                    <a href="#" class="menu-btn">
                         <i class="fas fa-info-circle"></i><span>About</span>
                    </a>

                </li>
                </ul>
                
             </div>
         </div>
         {{/if}}
         <!--sidebar end-->
         
         <!--main container start-->
        

         <!--main container end-->
    </div>
    <!--wrapper end-->
    </section>
<!-- Old NavBar
<header>
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/"><h5>onOrg</h5></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
               <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item active">
              <a class="nav-link text-white" href="/login">Login<span class="sr-only">(current)</span></a>
           </li>
         </ul>
         <form action="/search" method="GET" class="form-inline my-2 my-lg-0">   
            <div class="input-group">
               <input class="form-control" type="search" name="search" placeholder="Search">
               <span class="input-group-btn">
                  <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
               </span>
           </div>
        </form>
      </div>
   </nav>
</header>
-->

 

