<header>
   <div class="header-menu">
      <div class="sidebar-btn">
         <i class="far fa-bars"></i>
      </div>
      <div class="title">onOrg</div>
      <ul>
         
         <li> <a href="/"><i class="far fa-home"></i></a></li>
      </ul>
   </div>
</header>