<header>
   <div class="header-menu">
      <a href="/">
      <div class="sidebar-btn" style="border: none;">
         <i class="far fa-school" style="margin-top: 6px;"></i>
      </div>
      <div class="title" style="margin-left: 40px;">onOrg</div>
      </a>
      <ul>
         <li> <a href="/student"><i class="far fa-user-graduate"></i></a></li>
         <li> <a href="/tutor"><i class="far fa-chalkboard-teacher"></i></a></li>
         <li> <a href="/institution"><i class="far fa-school"></i></a></li>
      </ul>
   </div>
</header>






{{#if index}}
<style>
   header {
      background: transparent;
   }
</style>
{{/if}}

<style>
   header .header-menu .sidebar-btn:hover {
      background: transparent;
      color: #fff;
   }
</style>