{{#if student._id}}
<div class="wrapper sidebar-collapse">
   <div class="sidebar scrollmenu">
      <div class="sidebar-menu">
         <center class="profile">
            <img src="/images/student_profile.jpg" alt="Student Profile">
            <p>
               <span class="name">{{student.fname}} {{student.lname}}</span><br>
               <span class="email" >{{student.email}}</span><br>
            </p>
         </center>
         <ul>
            <li class="item">
               <a href="/student" class="menu-btn">
               <i class="far fa-home"></i><span>Home</span>
               </a>
            </li>
            <li class="item" id="messages">
               <a href="#messages" class="menu-btn">
               <i class="far fa-users"></i><span>Tutor & Student<i class="fas fa-chevron-down drop-down"></i></span>
               </a>
               <div class="sub-menu">
                  <a href="#"><i class="far fa-chalkboard-teacher"></i> <span>Tutor</span></a>
                  <a href="#"><i class="far fa-user-graduate"></i> <span>Student</span></a>
               </div>
            </li>
            <li class="item" id="profile">
               <a href="#profile" class="menu-btn">
               <i class="far fa-share-alt"></i><span>Share <i class="fas fa-chevron-down drop-down"></i></span>
               </a>
               <div class="sub-menu">
                  <a href="#"><i class="far fa-chalkboard-teacher"></i> <span>Tutor</span></a>
                  <a href="#"><i class="far fa-user-graduate"></i> <span>Student</span></a>
               </div>
            </li>
            <li class="item" id="settings">
               <a href="#settings" class="menu-btn">
               <i class="far fa-cog"></i><span>Settings  <i class="fas fa-chevron-down drop-down"></i></span>
               </a>
               <div class="sub-menu">
                  <a href="/student/profile"><i class="far fa-user-circle"></i> <span>Profile</span></a>
                  <a href="#"><i class="far fa-lock"></i> <span>Password</span></a>
               </div>
            </li>
            <li class="item">
               <a href="#" class="menu-btn">
               <i class="far fa-info-circle"></i><span>About</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>
{{/if}}