<header>
   <div class="header-menu">
      <div class="sidebar-btn">
         <i class="far fa-bars"></i>
         <a href="/" style="text-decoration: none;">
      </div>
      <div class="title" style="margin-left: 40px;">onOrg</div>
      </a>
      <ul>
         {{#if tutorDetails}}
         <li> <a href="" data-toggle="modal" data-target="#createsubject"><i class="far fa-plus"></i></a></li>

         <div class="modal fade" id="createsubject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Create Subject</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <form action="/tutor/add-subject" method="post">
                        <div class="form-group">
                           <label for="class-name" class="col-form-label">Subject Name</label>
                           <input type="text" class="form-control" id="class-name" name="subject_name" required>
                        </div>
                        <div class="form-group">
                           <label for="type">Select Class</label>
                           <select onclick="getclasses(); this.onclick=null;" id="getClasses"
                              class="custom-select mr-sm-2" name="class" required>
                              <option selected value="">Choose...</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="class-id" class="col-form-label">Subject ID</label>
                           <div class="input-group">
                              <input class="form-control" type="text" name="subject_id" style="background:white;"
                                 id="subjectId" readonly>
                              <span class="input-group-btn">
                                 <a class="btn btn-" style="color:white; background-color: #222424;"
                                    onclick="copySubjectId()"><i class="far fa-copy"></i></a>
                              </span>
                           </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                     <button type="submit" class="btn btn-dark">Create</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         {{/if}}

         <li> <a href="/"><i class="far fa-home"></i></a></li>
      </ul>
   </div>
</header>

<style>
   .modal-backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      background-color: #000;
   }
</style>

<script>
   function copySubjectId() {
      /* Get the text field */
      var copyText = document.getElementById("subjectId");

      /* Select the text field */
      copyText.select();
      //copyText.setSelectionRange(0, 99999); /* For mobile devices */

      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);

      /* Alert the copied text */
      //alert("Copied the text: " + copyText.value);
   }
</script>