 <div class="main-container">
             <h1>Institution Logged In</h1>
            <p></p> </div>

<style>
.main-container{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding:15px;
    background-size: cover;
    height: 100vh;
    transition: 0.4s;
}

.collapse .main-container{
    width: (100% - 70px);
    margin-left:70px;
}




</style>