 <section>
       
 <div class="main-container mt-5 ml-5">
     
   
     <a href="/institution/add-class" style="text-decoration: none;">
      <div class="card">
         <h6>Create new class</h6>
         <p>Here we can create new class or department. We can also see the classes already created. </p>
     </div>
     </a>
       <a data-toggle="modal" data-target="#exampleModalCenter" style="text-decoration: none;">
      <div class="card">
         <h6>Create new announcement</h6>
         <p>Here we can create new announcement to everyone or separate announcement to student and tutor </p>
         </div>
     </a>
      <a href="/institution/all-students" style="text-decoration: none;">
      <div class="card">
         <h6>All students</h6>
         <p>Here we can see all students in our institution</p>
         </div>
     </a>
      <a href="/institution/all-tutors" style="text-decoration: none;">
      <div class="card">
         <h6>All Tutors</h6>
         <p>Here we can see all teachers in our institution</p>
         </div>
     </a>
     
     </div>
 </div>
</section>    

<style>
.main-container{
   
    /*margin-left: 250px;*/
    background-size: cover;
    height: 100vh;
    transition: 0.4s;
    margin-left: 25px;
}



.main-container .card{
    background:#D3D3D3;
    color: #000;
    padding: 15px 0px 0px 15px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 10px;

}


</style>