 <section>
 <div class="main-container">
     <div class="card">
         <h6>Announcements</h6>
         <p>letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and</p>
     </div>
          <div class="card">
              <h6>Fee Structure</h6>
         <p>letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and</p>
     </div>
      <div class="card">
              <h6>Meettings</h6>
         <p>letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and</p>
     </div>
     
          
     </div>
 </div>
</section>    

<style>
.main-container{
    width: (100% - 250px);
    margin-top: 20px;
    margin-left: 250px;
    padding:15px;
    background-size: cover;
    height: 100vh;
    transition: 0.4s;
}

.main-container{
    width: (100% - 70px);
    margin-left:70px;
}

.main-container .card{
    background:yellow;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 10px;

}


</style>