<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h2 class="text-center">Institution SignUp</h2>
            <form action="/institution/signup" method="POST" id="institution-signup" onchange="signupErr()">
               <div class="row">
                  <div class="form-group col-md-6">
                     <label for="name">Name</label>
                     <input type="text" name="name" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="type">Type of Institution</label>
                     <select class="custom-select mr-sm-2" name="type" id="inlineFormCustomSelect">
                        <option selected value="">Choose...</option>
                        <option value="School">School</option>
                        <option value="College">College</option>
                        <option value="Other">Other</option>
                     </select>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="board">Board of Institution</label>
                     <input type="text" name="board" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="id">Institution ID</label>
                     <div class="input-group">
                        <input class="form-control" type="text" name="id" value="{{institutionId}}" style="background:white;" id="regenerateInstitutionId" readonly>
                        <span class="input-group-btn">
                           <a class="btn btn-primary" style="color:white;" onclick="regenerateInstitutionId()"><i class="fas fa-sync-alt"></i></a>
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="email">Email</label>
                     <input type="email" name="email" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                     <label>Mobile</label>
                     <div class="input-group">
                        <div class="input-group-prepend">
                           <div class="input-group-text">+91</div>
                        </div>
                        <input type="tel" class="form-control" name="mobile">
                     </div>
                     <span id="mobileErr"></span>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="address">Address</label>
                     <textarea rows="3" name="address" class="form-control"></textarea>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="head">Head of Institution</label>
                     <input type="text" name="head" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="password">Password</label>
                     <input type="password" name="password" class="form-control" id="password">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="cpassword">Confirm Password</label>
                     <input type="password" name="cpassword" class="form-control">
                     {{#if signupErr}}
                     <small class="text-danger" id="signupErr">{{signupErr}}</small>
                     {{/if}}
                  </div>
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-6">
                     <a href="/institution/login">Already have account ?</a>
                     <button type="submit" class="btn btn-primary float-right">SignUp</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>





<script>
   function signupErr()
   {
      document.getElementById('signupErr').style.display = 'none'
   }
</script>