<section>
    <div class="container">
        <h2 class="text-center title"><span class="first-letter">W</span>HY <span class="first-letter">O</span>NORG</h2>
        <div class="row mt-3">
            <div class="col-md-6 mb-4">
                <img src="/images/index_about1.jpg" alt="About" width="100%" class="rounded">
            </div>
            <div class="col-md-6 mb-4 text-muted"  style="font-size: 15px;">
                <div><span style="font-weight: 600;">Nowadays</span>, world is facing with the most dangerous pandemic disease covid-19. Therefore, somehow everything is done online, including education.</div>
                <div class="mt-2">Facilitating online education is just as important as through educational institutions. In this web application project, it is possible to create an institution virtually. As such, students and teachers can be part of that institution. This allows teachers to easily post lecture notes, previous year question papers and links of videos of lecture classes. Teachers posting notes in this way, allows students to access all these notes by joining under the respective teachers.</div>
                <div class="mt-2">In addition, the website provides instant access to information on all activities in the institution for all students and teachers.Teachers can publish the results of the examinations conducted in the respective classes. Students can know their internal marks too.</div>
            </div>
            <div class="col-12 text-muted" style="font-size: 15px;">
                <div class="mb-1" style="font-size: 16px; font-weight: 700;">Main objectives of OnOrg are :</div>
                <ul class="text-muted">
                    <li>Head of the educational institution can easily pass important memos to all students and teachers.</li>
                    <li>Teachers can publish lecture notes, previous year question papers, links of videos of lecture classes etc. and students can access this very fastly.</li>
                    <li>Students can refer to classes from anywhere at anytime.</li>
                    <li> Head of the institution can schedule meeting with teachers.</li>
                    <li>Head of the institution can block students if they disobeyed the rules of institution.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="text-center title"><span class="first-letter">A</span>DMINS & <span class="first-letter">U</span>SERS</h2>
        <div class="row mt-3">
            <div class="col-md-6 mb-4">
                <h4 style="font-weight: 600;;">Admins</h4>
                <div class="text-muted" style="font-size: 15px;">They are specialized programmers who create, manage and ensure the proper working of the web application. Here, they are entrusted with the task to create the web application for different types of users which are capable to interact in different levels. They have the central control over the datas and databases included in the web application. It is their duty to verify the user's genuineness.</div>
                <div class="text-muted mt-2" style="font-size: 15px;">Administrators has programmed the web application in such a way that institution, tutor and student can communicate. Administrators generate a secret code for institution account. This secret code has to be given to tutors and students to join under that institution. Hence, we can prevent fake users.</div>
            </div>
            <div class="col-md-6 mb-4">
                <img src="/images/index_about2.jpg" alt="Administrator" width="100%" class="rounded">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <img src="/images/index_about3.jpg" alt="Users" width="100%" class="rounded">
            </div>
            <div class="col-md-6 mb-4">
                <h4 style="font-weight: 600;">Users</h4>
                <div class="text-muted" style="font-size: 15px;">They are any individual who is using services and not involved with supporting or developing a computer or service. Users can create their own accounts using their confidential informations and can also use their facilities. Users can create different accounts by using the same informations for different roles. By using this feature an authorized user can invite another user under his/her specified sector.</div>
                <div class="text-muted mt-2" style="font-size: 15px; font-weight: 600;">Users of this web application can be basically classified into three namely : </div>
                <ul class="text-muted mt-1" style="font-size: 15px;">
                    <li>Head of the educational institution</li>
                    <li>Tutor</li>
                    <li>Student</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="text-center title"><span class="first-letter">O</span>PERATIONS & <span class="first-letter">F</span>UNCTIONS</h2>
        <div class="row mt-3">
            <div class="col-12 mb-2">
                <div class="text-muted" style="font-size: 15px;">The operations and functions for each user can be described as modules.</div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="text-muted mb-1" style="font-size: 16px; font-weight: 700;">Facilities for Institution :</div>
                <ul class="text-muted" style="font-size: 15px;">
                    <li>Sign up using email id and a secret code is automatically generated.</li>
                    <li>Can provide notifications for teachers and students of various activities.</li>
                    <li>Institution can access datas of students fastly whennecessary.</li>
                </ul>
                <div class="text-muted mt-2 mb-1" style="font-size: 16px; font-weight: 700;">Facilities for Tutor :</div>
                <ul class="text-muted" style="font-size: 15px;">
                    <li>Sign up using email id and secret code of institution.</li>
                    <li>Tutors can post lecture notes and other study materials from anywhere at any time.</li>
                    <li>Tutors can upload marks of students.</li>
                </ul>
                <div class="text-muted mt-2 mb-1" style="font-size: 16px; font-weight: 700;">Facilities for Student :</div>
                <ul class="text-muted" style="font-size: 15px;">
                    <li>Sign up using email id and secret code of institution.</li>
                    <li>Can access to lecture notes and study materials from anywhere at any time.</li>
                    <li>Students can get their results of examinations.</li>
                </ul>
            </div>
            <div class="col-md-6 mb-4">
                <img src="/images/index_about4.jpg" alt="Operations and Functions" width="100%" class="rounded">
            </div>
            <div class="col-12 text-muted mb-4">
                <div style="font-size: 17px; font-weight: 700;">Basic Working Strategy</div>
                <div class="mt-2" style="font-size: 15px;">The basic workingstrategy of this dynamic website is very simple. It can be explained as a step-by-step process.</div>
                <div class="mt-1" style="font-size: 15px;"><span style="font-weight: 600;">Step 1 :</span> Head of the institution have to create anaccount.</div>
                <div class="mt-1" style="font-size: 15px;"><span style="font-weight: 600;">Step 2 :</span> Students and tutors have to join under theinstitution using the secret code. </div>
                <div class="mt-1" style="font-size: 15px;"><span style="font-weight: 600;">Step 3 :</span> Tutors have to create classrooms for eachsubjects. They can post lecture notes and other study materials.</div>
                <div class="mt-1" style="font-size: 15px;"><span style="font-weight: 600;">Step 4 :</span> Students have to join the virtual classroomsusing link or classroom code. Thus, they can access to the notes providedby tutors.</div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="text-center title"><span class="first-letter">O</span>UR <span class="first-letter">T</span>EAM</h2>
        <div class="row mt-3">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="https://akhilofficial.cf" target="_blank" style="text-decoration: none;"><img src="/images/akhil.jpg" alt="Akhil K" width="230px" class="rounded-circle mt-4"></a>
                    <a href="https://akhilofficial.cf" target="_blank" style="text-decoration: none;"><div class="card-title">Akhil K</div></a>
                    <div class="card-bio">Developer</div>
                    <div class="card-quote">"Any fool can write code that a computer can understand. Good programmers write code that humans can understand."</div>
                    <div class="row">
                        <a href="https://www.facebook.com/akhil.k.921230" target="_blank" class="social-icons"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/_a_k_h_i_l_._._" target="_blank" class="social-icons"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/akhil--k" target="_blank" class="social-icons"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/Akhil-K-Ponnani" target="_blank" class="social-icons"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="https://www.aswinofficial.tk" target="_blank" style="text-decoration: none;"><img src="/images/aswin.jpg" alt="Aswin P" width="230px" class="rounded-circle mt-4"></a>
                    <a href="https://www.aswinofficial.tk" target="_blank" style="text-decoration: none;"><div class="card-title">Aswin P</div></a>
                    <div class="card-bio">Developer</div>
                    <div class="card-quote">"Perfection is achieved not when there is nothing more to add, but rather when there is nothing more to take away."</div>
                    <div class="row">
                        <a href="https://www.facebook.com/aswin.achu.16718979" target="_blank" class="social-icons"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/its.me_.aswin" target="_blank" class="social-icons"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/aswin-p-318ab2210" target="_blank" class="social-icons"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/ASWIN-P-INFOPRISM" target="_blank" class="social-icons"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="https://sivinsaji.ml" target="_blank" style="text-decoration: none;"><img src="/images/sivin.jpg" alt="Sivin Saji" width="230px" class="rounded-circle mt-4"></a>
                    <a href="https://sivinsaji.ml" target="_blank" style="text-decoration: none;"><div class="card-title">Sivin Saji</div></a>
                    <div class="card-bio">Developer</div>
                    <div class="card-quote">"Sometimes it pays to stay in bed on Monday, rather than spending the rest of the week debugging Monday’s code."</div>
                    <div class="row">
                        <a href="https://www.facebook.com/sivin.saji.1" target="_blank" class="social-icons"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/sivin_saji" target="_blank" class="social-icons"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/sivin-saji" target="_blank" class="social-icons"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/SivinSaji" target="_blank" class="social-icons"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <h4 style="font-weight: 600;">Send Feedback</h4>
        <div class="row mt-2 user-feedback">
            <div class="col-12">
                <form action="" id="user-feedback">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" name="place" class="form-control" placeholder="Place" required>
                        </div>
                        <div class="form-group col-md-12">
                            <textarea name="message" rows="5" class="form-control" placeholder="Enter your Message here..." required></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary" style="font-size: 15px;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="alert mt-3" role="alert" id="feedback-response"></div>
    </div>
</section>



<style>
    body {
        background: #fff;
    }

   .main-container {
      margin-left: 0;
   }

   .title .first-letter {
       color: #bd1f5e;
       font-size: 38px;
       font-weight: 700;
   }

    ul {
        list-style: disc;
        margin-left: 19px;
    }

    ul li {
        list-style: disc;
    }

    .card {
        background: #f3f4f4;
        align-items: center;
        border: none;
    }

    .card .card-title {
        color: #000;
        font-size: 23px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 8px;
        margin-bottom: 0;
    }

    .card .card-bio {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .card .card-quote {
        font-size: 13px;
        font-style: italic;
        text-align: center;
        padding: 0 10px;
    }

    .card .social-icons {
        background: #fff;
        width: 35px;
        height: 35px;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 50%;
        padding-top: 5px;
        margin: 5px;
        margin-top: 8px;
        margin-bottom: 20px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .card .social-icons i:hover {
        color: #fff;
    }

    .card .social-icons:nth-child(1) {
        color: #1877f2;
        border-color: #a3c9fa;
    }

    .card .social-icons:nth-child(1):hover {
        background: #1877f2;
        color: #fff;
    }

    .card .social-icons:nth-child(2) {
        color: #E1306C;
        border-color: #ed82a6;
    }

    .card .social-icons:nth-child(2):hover {
        background: #E1306C;
        color: #fff;
    }

    .card .social-icons:nth-child(3) {
        color: #0a66c2;
        border-color: #8bc2f9;
    }

    .card .social-icons:nth-child(3):hover {
        background: #0a66c2;
        color: #fff;
    }

    .card .social-icons:nth-child(4) {
        color: #333;
        border-color: #707070;
    }

    .card .social-icons:nth-child(4):hover {
        background: #333;
        color: #fff;
    }

    .user-feedback input {
        font-size: 15px;
    }

    .alert {
        display: none;
        font-size: 13px;
    }
</style>