<section>
   <div class="container-fluid">
      <div class="row">
         <div class="col-12 align-items-center justify-content-center">
         			<p>
            This academic project is a School/College management system. It consists of all the data management and storage facilities that are required for effectively managing a college or school teaching multiple courses and subjects. It consists of multiple teachers and faculty accounts. The system helps in effectively managing and scheduling batches of students as per their courses and exam priorities. The class management system allows the Institution to view and edit data as required. All this functionality ensures no errors and effective management of a class.
            </p>
            <div class="text-center">
            <a href="/student" class="btn btn-primary mr-1"><i class="fas fa-user-graduate"></i>&nbsp;Student</a>
            <a href="/tutor" class="btn btn-primary mr-1"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Tutor</a>
            <a href="/institution" class="btn btn-primary"><i class="fas fa-university"></i>&nbsp;Institution</a>
            </div>
         </div>
      </div>
   </div>
</section>