<section class="banner">
   <div class="container">
      <div class="banner-content">
         <div class="banner-title"><span style="color: #bd1f5e;">on</span>line <span style="color: #bd1f5e;">org</span>anisation</div>
         <div class="banner-quote">with student record tracker</div>
         <div class="banner-btn">
            <a href="/student" class="mr-2"><i class="far fa-user-graduate"></i>&nbsp;student</a>
            <a href="/tutor" class="active mr-2"><i class="far fa-chalkboard-teacher"></i>&nbsp;tutor</a>
            <a href="/institution"><i class="far fa-school"></i>&nbsp;institution</a>
         </div>
      </div>
   </div>
</section>





<style>
   body {
      background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/images/index_banner-bg.jpg);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      height: 100vh;
   }

   .banner .banner-content {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
   }

   .banner .banner-content .banner-title {
      font-size: 50px;
      text-transform: uppercase;
      font-weight: bold;
   }

   .banner .banner-content .banner-quote {
      font-size: 18px;
      text-transform: uppercase;
      font-style: italic;
   }

   .banner .banner-content .banner-btn a {
      background: transparent;
      color: #fff;
      text-decoration: none;
      font-size: 13px;
      border: 1px solid #fff;
      border-radius: 10px;
      display: inline-block;
      text-transform: uppercase;
      padding: 8px 30px;
      margin-top: 25px;
   }

   .banner .banner-content .banner-btn a.active {
      background: #bd1f5e;
      border-color: #bd1f5e;
   }

   .banner .banner-content .banner-btn button:focus-within {
      outline: none;
      border-color: none;
   }

   @media all and (max-width:1199px) {
      .banner .banner-content .banner-title {
         font-size: 41px;
      }

      body {
         height: calc(100vh - 56px);
      }
   }
</style>