/* --Import Google Fonts-- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* --Base Styles-- */
*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body{
    background: #E4E9F7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollmenu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollmenu {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



/* --Header-- */
header{
    position: fixed;
    z-index:100;
    background: #11101d;
    width: 100%;
    height: 70px;
    top: 0;
}

header .header-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

/*Header Name*/
header .header-menu .title{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-left: 45px;
}

header .header-menu a{
    text-decoration: none;
}

/*Header Side button*/
header .header-menu .sidebar-btn{
    color: #fff;
    border: 2px solid #fff;
    position: absolute;
    margin-left:10px;
    font-size: 18px;
    font-weight: 600;
    width:28px;
    height: 28px;
    line-height: 26.5px;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background, color;
    
}

/*onclick Header Side button*/
header .header-menu .sidebar-btn:hover{
   background: #fff;
   color:#000; 
}

/*Round Buttons @ right side*/ 
header .header-menu ul{
    display: flex;
}

/*Round Buttons @ right side*/ 
header .header-menu ul li a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    margin: 0 10px;
    margin-top: 17px;
    font-size: 18px;
    width:34px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}

/*On click Round Buttons @ right side*/ 
header .header-menu ul li a:hover{
    background: #fff;
    color: #000;
}



/* --Sidebar-- */
.sidebar{
    position: fixed;
    z-index: 100;
    background: #11101d;
    top:70px;
    width: 230px;
    height: 100%;
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}

.sidebar .sidebar-menu{
    overflow: hidden;
}

.sidebar .sidebar-menu .profile img{
   margin: 20px 0;
   width: 100px;
   height: 100px;
   border-radius: 50%;
}

.sidebar .sidebar-menu .profile .name{
    color:#fff;
    font-weight: 700;
}

.sidebar .sidebar-menu .profile .email{
    color:#fff;
    font-size: 12px;
    margin-bottom: 10px;
}

.sidebar .sidebar-menu .profile a{
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 25%;
    margin-left: 1px;
    transition: 0.3s;
    transition-property: background, color;
}

.sidebar .sidebar-menu .profile .share-btn{
    padding:1px 5px 1px 5px;
}
.sidebar .sidebar-menu .profile .instiCode-copy{
    padding:1px 5px 1px 5px;
}
.sidebar .sidebar-menu .profile .regenerate-btn{
    padding:1px 4px 1px 4px;
}

.sidebar .sidebar-menu .profile a:hover{
    background: #fff;
    color: #000;
}

.sidebar .sidebar-menu .profile .secret-code{
    color: #fff;
    font-size: 12px;
    margin-left: 1px;
    text-align: center;
}

.sidebar .sidebar-menu .item{
    width:250px;
    overflow: hidden;
}

.sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 15px 15px;
    transition: 0.3s;
    transition-property: color;
    text-decoration: none;
}

.sidebar .sidebar-menu .item .menu-btn:hover{
    background: #1d1b31;
}

.sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
}

.sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
    transition: 0.3s;
}

.sidebar .sidebar-menu .item .sub-menu{
    padding-left: 15px;
    background: #1d1b31;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
}

.sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 5px 5px;
    opacity: 0.6;
    transition: 0.3s;
    transition-property: background;
    text-decoration: none;
}

.sidebar .sidebar-menu .item .sub-menu a:hover{
    opacity: 1;
}

.sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
}

.sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
}

.sidebar .sidebar-menu .item:target .menu-btn .drop-down{
    transform: rotate(-180deg);
}

.sidebar-collapse .sidebar{
    width: 55px;
}

.sidebar-collapse .sidebar .profile img,
.sidebar-collapse .sidebar .profile p,
.sidebar-collapse .sidebar a span{
    display: none;
}

.sidebar-collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 20px;
}

.sidebar-collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 15px;
}



/* --Main Container-- */
.main-container{
    margin: 85px 0 15px 55px;
}


/* --Modal-- */
.modal .modal-content {
    margin: auto;
    padding: 0.5em;
}

.modal .modal-content .close-btn {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: #878787;
    background: #f2f3fb;
    padding: 1px 7.6px;
    cursor: pointer;
}


/* --Custom colour for choices in selectBox--*/
.choices__list--multiple .choices__item {
    background-color: #212529;
    border: 1px solid #212529;
    color: #fff;
}


/* --Limit line length-- */
.limit-line-length-horizontal {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.limit-line-length-vertical {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

/* Search box styling */
@media only screen and (min-width: 715px) {
    .search-box {
        margin: 200px auto;
        background: #fff;
        height: 30px;
        border-radius: 30px;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      }
      .search-box:hover .input {
        width: 400px;
      }
      .search-box .input {
        background: transparent;
        border: none;
        outline: none;
        width: 0px;
        font-weight: 500;
        font-size: 16px;
        transition: 0.8s;
      }
      
      .search-box .btn .fas {
        color: #000;
      }

  }

  @media only screen and (max-width: 714px) {
    .search-box {
        display: none;
      }

    /* .search-icon-mobile a{
        border: 2px solid #fff;
        color: #fff;
        display: block;
        margin: 0 11px;
        margin-top: 2px;
        font-size: 18px;
        width:34px;
        height: 34px;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        transition: 0.3s;
        transition-property: background, color; 
        text-decoration: none;
          
      }

      #showSearch {
        margin: 200px auto;
        background: #fff;
        height: 30px;
        border-radius: 30px;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      }
      #showSearch:hover .input {
        width: 400px;
      }
      #showSearch .input {
        background: transparent;
        border: none;
        outline: none;
        width: 0px;
        font-weight: 500;
        font-size: 16px;
        transition: 0.8s;
      }
      
      #showSearch .btn .fas {
        color: #000;
      } */
      
  } 

/* --Footer-- */
footer{
    background: #11101d;
    z-index:100;
    width: 100%;
    margin-top: auto;
    bottom:0;
}

@media all and (max-width:575px) {
    .sidebar-collapse .sidebar {
        width: 0;
    }

    .main-container {
        margin-left: 0;
    }
}