header {
  position:fixed;
  width:100%;
  top:0;
  z-index:100;
}




body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

footer{
    margin-top: auto;
}


/*Side Bar Style*/

*{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper .header{
    z-index:1;
    background: #222424;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
}
/*Header*/
.wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
/*Name*/
.wrapper .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    margin-left: 40px;
}

/*Second Name we use here span*/ 
.wrapper .header .header-menu .title span{
    color: #4CCEE8;
}

/*Side button*/
.wrapper .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left:10px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
    
}
/*onclick Side button*/
.wrapper .header .header-menu .sidebar-btn:hover{
   color:#4CCEE8; 
}

/*Round Buttons @ right side*/ 
.wrapper .header .header-menu ul{
    display: flex;
}
/*Round Buttons @ right side*/ 
.wrapper .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    margin-top: 17px;
    font-size: 18px;
    width:34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
    
}
/*On cick Round Buttons @ right side*/ 
.wrapper .header .header-menu ul li a:hover{
    background: #4CCEE8;
    color: #fff;
}
/*Sidebar start from here*/
.wrapper .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top:70px;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y:auto;
}

.wrapper .sidebar .sidebar-menu{
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img{
   margin: 20px 0;
   width: 100px;
   height: 100px;
   border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
    color:#bbb;
    font-weight: 700;
    margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item{
    width:250px;
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
    text-decoration: none;

}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #4CCEE8;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #3498DB;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
    
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #8FC5E9;
    transition: 0.3s;
    transition-property: background;
    text-decoration: none;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #55B1F0;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
}

.wrapper .main-container{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding:15px;
    background-size: cover;
    height: 100vh;
    transition: 0.4s;
}

.wrapper.collapses .sidebar{
    width: 70px;
}

.wrapper.collapses .sidebar .profile img,
.wrapper.collapses .sidebar .profile p,
.wrapper.collapses .sidebar a span{
    display: none;
}

.wrapper.collapses .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
}


.wrapper.collapses .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
}


.wrapper.collapses .main-container{
    width: (100% - 70px);
    margin-left:70px;
}

/*Sidebar end from here*/