<section>
   <div class="main-container  mt-5 ml-5">
            <div class="card">
         <h6>My Subjects</h6>
         <p>Here you can see the subjects that you created</p>
     </div>
   </div>
</section>

<style>

.main-container{
   
    /*margin-left: 250px;*/
    background-size: cover;
    height: 100vh;
    transition: 0.4s;
    margin-left: 25px;
}

.main-container .card{
    background:#D3D3D3;
    color: #000;
    padding: 15px 0px 0px 15px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 10px;

}


</style>