<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h2 class="text-center">Tutor SignUp</h2>
            <form action="/tutor/signup" method="POST" id="tutor-signup" onchange="signupErr()">
               <div class="row">
                  <div class="form-group col-md-6">
                     <label for="fname">First Name</label>
                     <input type="text" name="fname" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="lname">Last Name</label>
                     <input type="text" name="lname" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="email">Email</label>
                     <input type="email" name="email" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                     <label>Mobile</label>
                     <div class="input-group">
                        <div class="input-group-prepend">
                           <div class="input-group-text">+91</div>
                        </div>
                        <input type="tel" class="form-control" name="mobile">
                     </div>
                     <span id="mobileErr"></span>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="institution">Institution ID</label>
                     <input type="text" name="institution" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="gender">Gender</label><br>
                     <div class="custom-radio custom-control-inline">
                        <input type="radio" name="gender" value="Male" id="male" class="custom-control-input" checked>
                        <label class="custom-control-label pl-4" for="male">Male</label>
                     </div>
                     <div class="custom-radio custom-control-inline">
                        <input type="radio" name="gender" value="Female" id="female" class="custom-control-input">
                        <label class="custom-control-label pl-4" for="female">Female</label>
                     </div>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="password">Password</label>
                     <input type="password" name="password" class="form-control" id="password">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="cpassword">Confirm Password</label>
                     <input type="password" name="cpassword" class="form-control">
                     {{#if signupErr}}
                     <small class="text-danger" id="signupErr">{{signupErr}}</small>
                     {{/if}}
                  </div>
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-6">
                     <a href="/tutor/login">Already have account ?</a>
                     <button type="submit" class="btn float-right"
                        style=" color:white; background-color: #222424;">SignUp</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>





<script>
   function signupErr() {
      document.getElementById('signupErr').style.display = 'none'
   }
</script>